port=53
user=root
group=root
listen-address=0.0.0.0
bind-dynamic

## Upstream Rules ##
# Slipstream-rust - Port 5301
server=/a.example.com/127.0.0.1#5301
server=/aa.example.com/127.0.0.1#5301
# dnstt - Port 5302
server=/b.example.com/127.0.0.1#5302
# MasterDnsVPN - 5303
server=/c.example.com/127.0.0.1#5303
# varydns - 5304
server=/d.example.com/127.0.0.1#5304
# noizDNS(Slipnet) - Port 5300
server=/e.example.com/127.0.0.1#5300

# General
no-resolv
stop-dns-rebind

# Logging
#log-queries
#log-debug

# Limits
dns-forward-max=10000
max-tcp-connections=10000
#fast-dns-retry=

# cache
cache-size=0
no-negcache
