# VAYDNS Documentation
# https://github.com/net2share/vaydns

COMPOSE_PROJECT_NAME=vaydns

# Commons
# VAYDNS_NAMESERVER is the nameserver of the vaydns-server that the recursive resolver connects to
VAYDNS_NAMESERVER

VAYDNS_RECORD_TYPE=txt
VAYDNS_IDLE_TIMEOUT=10s
VAYDNS_KEEPALIVE=2s
VAYDNS_QUEUE_SIZE=512
VAYDNS_KCP_WINDOW_SIZE=0

## SERVER ##
# https://github.com/net2share/vaydns#server-flags

# VAYDNS_UPSTREAM_HOST and VAYDNS_UPSTREAM_PORT is the target address that the dns tunnel establishes connections to (Lightest option is a simple SOCKS5 proxy)
VAYDNS_UPSTREAM_HOST
VAYDNS_UPSTREAM_PORT

# VAYDNS_LISTEN_HOST is the listen address of vaydns-server.
# When running only vaydns as dns tunnel, it should be 0.0.0.0
# When using dnsmasq as dns router it could be 127.0.0.1
VAYDNS_LISTEN_HOST=127.0.0.1

# VAYDNS_LISTEN_PORT is the listen port of vaydns-server.
# When running only vaydns as dns tunnel, since it's running by non-root user(1000), network_mode:host should be commented and must use 'ports: ["53:5304/udp"]' in compose file
# When using dnsmasq as dns router it could be other ports like 5350
VAYDNS_LISTEN_PORT=5304

# VAYDNS_MTU 
# If your chosen resolver does not support responses this large, chose a lower number (Bytes)
VAYDNS_MTU=1232

# Key file pathes (be mindful about docker volumes when changing the defaults)
VAYDNS_PRIVATE_KEY_FILE=/var/lib/vaydns/server.key
VAYDNS_PUBLIC_KEY_FILE=/var/lib/vaydns/server.pub


## CLIENT ##
# https://github.com/net2share/vaydns#client-flags
# VAYDNS_CLIENT_MODE could be one of 'doh', 'dot', or 'udp' 
# NOTE: The tunnel client and server support an unencrypted -udp mode, which is trivially detectable by a third-party observer using something as simple as a static pattern match. Only the -doh and -dot modes are encrypted and offer any chance of being covert. 
VAYDNS_CLIENT_MODE

# VAYDNS_CLIENT_RESOLVER_ADDRESS is the public recursive resolver used by the client. It's format depends on the choosen client mode 'VAYDNS_CLIENT_MODE'
VAYDNS_CLIENT_RESOLVER_ADDRESS

# VAYDNS_CLIENT_LISTEN_HOST and VAYDNS_CLIENT_LISTEN_PORT is the listen address of the client that will establish a connection to VAYDNS_UPSTREAM_HOST:VAYDNS_UPSTREAM_PORT once the tunnel is up
VAYDNS_CLIENT_LISTEN_HOST=127.0.0.1
VAYDNS_CLIENT_LISTEN_PORT=2084

# VAYDNS_CLIENT_UTLS is the TLS fingerprint profile to use. Possible values are:
# none random
# Firefox Firefox_55 Firefox_56 Firefox_63 Firefox_65 Firefox_99 Firefox_102 Firefox_105 Firefox_120
# Chrome Chrome_58 Chrome_62 Chrome_70 Chrome_72 Chrome_83 Chrome_87 Chrome_96 Chrome_100 Chrome_102 Chrome_120
# iOS iOS_11_1 iOS_12_1 iOS_13 iOS_14
VAYDNS_CLIENT_UTLS=Chrome
