## SERVER ##
# SLIPSTREAM_NAMESERVER is the NS record already defined for the domain. It should have a peering A record that points to the public IP of server
SLIPSTREAM_NAMESERVER
SLIPSTREAM_SERVER_UPSTREAM_PORT
SLIPSTREAM_SERVER_MAX_CONNECTIOINS=40960
SLIPSTREAM_PORT=5301

SLIPSTREAM_PRIVATE_KEY_FILE=/var/lib/slipstream/key.pem
SLIPSTREAM_PUBLIC_KEY_FILE=/var/lib/slipstream/cert.pem

## CLIENT ##
SLIPSTREAM_CLIENT_RESOLVER_ADDRESS
SLIPSTREAM_CLIENT_LISTEN_PORT=2081
