## SERVER ##
SLIPSTREAM_NAMESERVER=t.example.com # This is the NS record | should have a peering A record that points to the public IP of server
SLIPSTREAM_SERVER_TARGET_PORT=
SLIPSTREAM_SERVER_MAX_CONNECTIOINS=2048
SLIPSTREAM_PORT=53

SLIPSTREAM_PRIVATE_KEY_FILE=/var/lib/slipstream/key.pem
SLIPSTREAM_PUBLIC_KEY_FILE=/var/lib/slipstream/cert.pem

## CLIENT ##
SLIPSTREAM_CLIENT_RESOLVER_ADDRESS=1.1.1.1
SLIPSTREAM_CLIENT_LISTEN_PORT=
