# IMAGE_REGISTRY is an optional registry mirror (should end with /)
IMAGE_REGISTRY=docker.arvancloud.ir/

# PINGTUNNEL_KEY is the shared key between server and client
PINGTUNNEL_KEY

## SERVER ##
# PINGTUNNEL_SERVER_MAXCONN is the max number of connections. The default '0' means no limit
PINGTUNNEL_SERVER_MAXCONN

# server resource limits
PINGTUNNEL_SERVER_CPU_LIMIT
PINGTUNNEL_SERVER_MEMORY_LIMIT

## CLIENT ##
# PINGTUNNEL_CLIENT_TCP_MAX_WINDOW is the maximum window of tcp. The default is '20000'
PINGTUNNEL_CLIENT_TCP_MAX_WINDOW

# PINGTUNNEL_CLIENT_SERVER_ADDRESS is the address of pingtunnel server
PINGTUNNEL_CLIENT_SERVER_ADDRESS

# PINGTUNNEL_CLIENT_SOCKS_LISTEN_PORT is the socks5 listen port on the client machine. The default is '1080'
PINGTUNNEL_CLIENT_SOCKS_LISTEN_PORT
