# IMAGE_REGISTRY is an optional registry mirror (should end with /)
IMAGE_REGISTRY=

# NAIVEPROXY_DOMAIN is the fronting domain for naiveproxy
NAIVEPROXY_DOMAIN=

# User credentials between client and server
NAIVEPROXY_USERNAME=
NAIVEPROXY_PASSWORD=

# NAIVEPROXY_DECODY_DOMAIN is a decoy domain that non-proxy requests are forwarded to
NAIVEPROXY_DECODY_DOMAIN=

# NAIVEPROXY_DECODY_URL is the full URL of the target deocy website
NAIVEPROXY_DECODY_URL=

# NAIVEPROXY_SSL_MAINTAINER_EMAIL is the email used for automatically getting SSL certificates
NAIVEPROXY_SSL_MAINTAINER_EMAIL=

# Optinal image tags
NAIVEPROXY_SERVER_IMAGE_TAG=
NAIVEPROXY_CLIENT_IMAGE_TAG=

# NAIVEPROXY_CLIENT_LISTEN_PORT is the socks port the client listens for connections (the default is 1080)
NAIVEPROXY_CLIENT_LISTEN_PORT