COMPOSE_PROJECT_NAME=dnstt

# DNSTT Documentation
# https://www.bamsoftware.com/software/dnstt/

## SERVER ##
# DNSTT_NAMESERVER is the nameserver of the dnstt-server that the recursive resolver connects to
DNSTT_NAMESERVER

# DNSTT_UPSTREAM_PORT is the port on the host machine where the dns tunnel establishes connections to 
DNSTT_UPSTREAM_PORT

# DEFAULTS
# DNSTT_PORT is the listen port of dnstt-server. When using "network_mode: host" which is the default, it should be 53
DNSTT_PORT=5302

# DNSTT_MTU If your chosen resolver does not support responses this large, chose a lower number (Bytes)
DNSTT_MTU=1232

# Key file pathes (be mindful about volumes when changing the defaults)
DNSTT_PRIVATE_KEY_FILE=/var/lib/dnstt/server.key
DNSTT_PUBLIC_KEY_FILE=/var/lib/dnstt/server.pub


## CLIENT ##
# DNSTT_CLIENT_MODE could be one of 'doh', 'dot', or 'udp' 
# NOTE: The tunnel client and server support an unencrypted -udp mode, which is trivially detectable by a third-party observer using something as simple as a static pattern match. Only the -doh and -dot modes are encrypted and offer any chance of being covert. 
DNSTT_CLIENT_MODE

# DNSTT_CLIENT_RESOLVER_ADDRESS is the public recursive resolver used by the client. It's format depends on the choosen client mode 'DNSTT_CLIENT_MODE'
DNSTT_CLIENT_RESOLVER_ADDRESS

# DNSTT_CLIENT_LISTEN_PORT is the listen port of the client that will establish a connection to DNSTT_UPSTREAM_PORT once the tunnel is up
DNSTT_CLIENT_LISTEN_PORT=2082

# DNSTT_CLIENT_UTLS is the TLS fingerprint profile to use. Possible values are:
# none random
# Firefox Firefox_55 Firefox_56 Firefox_63 Firefox_65 Firefox_99 Firefox_102 Firefox_105 Firefox_120
# Chrome Chrome_58 Chrome_62 Chrome_70 Chrome_72 Chrome_83 Chrome_87 Chrome_96 Chrome_100 Chrome_102 Chrome_120
# iOS iOS_11_1 iOS_12_1 iOS_13 iOS_14
DNSTT_CLIENT_UTLS=Chrome
